:root {
    --main-color: #BCA88E;
    --bg-color: #E3E8E9;
    --secondary-color: #9DA993;
    --tertiary-color: #E4B4B4;
    --shadow-color: #888888;
    background-color: var(--bg-color);
}
* {
    margin: 0px;
    padding: 0px;
}
.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}
.game-board {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap:px;
}  
.game-tile {
    width: 48px;
    height: 48px;
    padding:4px;
    /* border: red solid 2px; */
}
.turn {
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
}
.wins {
    display: grid;
    /* grid-template-columns: auto auto; */
    justify-content: center;
    gap: 0px;
    
}
.menu {
    margin-top:16px;
    display: grid;
    gap:8px;
    justify-content: center;
    text-align: center;
}
.player1, .player2, .reset, .play-ai {
    padding:4px;
}
#tile-0, #tile-1, #tile-2, #tile-3, #tile-4, #tile-5 {
    border-bottom: black solid 2px;
}
#tile-0, #tile-1, #tile-3, #tile-4, #tile-6, #tile-7 {
    border-right: black solid 2px;
}