:root {
    --main-color: #BCA88E;
    --bg-color: #E3E8E9;
    --secondary-color: #9DA993;
    --tertiary-color: #E4B4B4;
    --shadow-color: #888888;
    background-color: var(--bg-color);
}
* {
    margin: 0px;
    padding: 0px;
}
.game-tile {
    width:32px;
    height: 32px;
    border: red solid 2px;
}